::selection
{
	background-color: #0000;
}

body
{
	background: linear-gradient(#130833,#000000);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;

	cursor: none;
}



@media (hover: none)
{
	#light 
	{
		display: none;
	}
}

li
{
	margin-top: -0.3%;
}


a:hover
{
	color: #bbf;
	cursor: none;
}

/*  Cannot select by default the previous element on Firefox, 
	decided to reduce the effect (and remove it on neighbours)  */
span:hover, td:hover, caption:hover
{
	color: #fffc;
}

body > #title > span:hover
{
	color:#fff;
}


span, td, caption
{
	transition: color 1s;
}



#text * > a:hover
{
	padding-left: 0.4%;
	padding-right: 0.3%;
}

#light
{
	pointer-events: none;

	/* box style - background */
	background-color: #fff8;
	border-radius: 100px;
	box-shadow: 0 0 5px white;

	/* box style - position and scale */
	position: absolute;
	width: 80px;
	height: 80px;
}

#text
{
	/* text style */
	color: #fff9;
	font-size: 1.9em;

	/* box style - background */
	border: solid;
	border-color: #464766;
	background-color: #13153380;
	border-radius: 12px;
	box-sizing: content-box;

	/* box style - margin and padding */
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: 5%;
	margin-right: 5%;

	padding-top: 1%;
	padding-bottom: 0.77%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

#title
{
	/* text style */
	color: rgba(255,255,255,0.75);

	font-size: 7em;
	font-weight: 700;

	text-align: center;
	transition: color 2s;

	/* box style - margin */
	margin-top: 5%;
	margin-bottom: 10%;
}

#text > #title
{
	/* text style */
	font-size: 5em;

	/* box style - margin */
	margin-bottom: 5%;
}

/* Used to alternate text-align between paragraphs */

#text:nth-child(2n+1), #text:nth-child(2n+1) > #title
{
	margin-right: 20%;
	text-align: start;
}

#text:nth-child(2n), #text:nth-child(2n) > #title
{
	margin-left: 20%;
	text-align: end;
}




a
{
	color: rgba(255,255,255,0.85);
	transition: color 2s, padding 1s ease;
	text-decoration: none;
}

p
{
	margin-top: 0%;
	margin-bottom: 0%;
	padding-bottom: 1%;
}

td
{
	white-space: nowrap;
}

@media (max-width: 1280px)
{
	td
	{
		font-size: 40%;
	}
}

@media (min-width: 1280px)
{
	td
	{
		font-size: 80%;
	}
}


#text > *:last-child
{
	padding-bottom: 1%;
}

ul
{
	margin-top: 0%;
	margin-bottom: 0%;
	font-size: 0.85em;
	list-style: none;
}


#text > #title
{
	/* text style */
	color: rgba(255,255,255,0.65);
	font-size: 2em;
	font-weight: 550;
	transition: color 2s;

	/* box style (setting it undo the #title setting) */
	margin-top: 0%;
	margin-bottom: 2%;
	padding-bottom: 0%;
}