body
{
	background: linear-gradient(#130833,#000000);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div
{
	/* text style */
	color: rgba(255,255,255,0.6);
	font-size: 2em;
	text-align: center;

	/* box style */
	background-color: #131533;
	border-radius: 12px;
	overflow: hidden;
}


/* - * does not seem to work to target ids - */
#title:hover, #text *:not(ul):hover, #text > #title:hover
{
	color: #ffffff;
}

#text a:hover
{
	color: #bbbbff;
}

#text * > a:hover
{
	padding-left: 0.4%;
	padding-right: 0.3%;
}


::selection
{
	background-color: #0000;
}


/* Different ids */

#title
{
	font-size: 7em;
	margin-bottom: 10%;

	/* Inherit styles */

	/* text style */
	color: rgba(255,255,255,0.75);
	font-weight: 700;
	text-align: center;
	transition: color 3s;

	/* box style - margin */
	margin-top: 5%;
}

#text
{
	border: solid;
	border-color: #464766;

	/* box style - margin */
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: 5%;
	margin-right: 5%;

	/* box style - padding */
	padding-top: 1%;
	padding-bottom: 0.77%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

#text > #title
{
	/* text style */
	font-size: 5em;

	/* box style - margin */
	margin-bottom: 5%;
}

/* Used to alternate text-align between paragraphs */

#text:nth-child(2n), #text:nth-child(2n) > #title
{
	margin-right: 20%;
	text-align: start;
}

#text:nth-child(2n+1), #text:nth-child(2n+1) > #title
{
	margin-left: 20%;
	text-align: end;
}



/* Elements in #text (id used with div) */

#text a
{
	color: rgba(255,255,255,0.85);
	transition: color 2s, padding 1s ease;
	text-decoration: none;
}

#text > p
{
	margin-top: 0%;
	margin-bottom: 0%;
	padding-bottom: 1%;
	transition: color 2s;
}

#text > p:last-child
{
	padding-bottom: 2%;
}

#text > ul
{
	margin-top: -0.1%;
	list-style: none;
}

#text li
{
	transition: color 2s;
}

#text > #title
{
	/* text style */
	color: rgba(255,255,255,0.65);
	font-size: 2em;
	font-weight: 550;
	transition: color 2s;

	/* box style (setting it undo the #title setting) */
	margin-top: 0%;
	margin-bottom: 0%;
	padding-bottom: 2%;
}