body
{
	background: linear-gradient(#130833,#000000);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


/* - * does not seem to work to target ids - */
#title:hover, #text > *:hover, #text > #title:hover
{
	color: #ffffff;
}

#text > * > a:hover
{
	color: #bbbbff;
	padding-left: 0.4%;
	padding-right: 0.3%;
}


/* Different ids */

#title
{
	/* text style */
	color: rgba(255,255,255,0.75);
	font-size: 5em;
	font-weight: 700;
	text-align: center;
	transition: color 3s;

	/* box style - margin */
	margin-top: 5%;
	margin-bottom: 5%;
}

#text
{
	/* text style */
	color: rgba(255,255,255,0.6);
	font-size: 2em;
	text-align: center;

	/* box style */
	background-color: #131533;
	border-radius: 12px;
	overflow: hidden;

	/* box style - margin */
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: 5%;
	margin-right: 5%;

	/* box style - padding */
	padding-top: 1%;
	padding-bottom: 0.77%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}


/* Used to alternate text-align between paragraphs */

#text:nth-child(even), #text:nth-child(even) > #title
{
	margin-right: 20%;
	text-align: start;
}

#text:nth-child(odd), #text:nth-child(odd) > #title
{
	margin-left: 20%;
	text-align: end;
}



/* Elements in #text (id used with div) */

#text > a, #text > p > a
{
	color: rgba(255,255,255,0.85);
	transition: color 2s, padding 1s ease;
	text-decoration: none;
}

#text > p
{
	margin-top: 0%;
	margin-bottom: 0%;
	padding-bottom: 1%;
	transition: color 2s;
}

#text > p:last-child
{
	padding-bottom: 2%;
}

#text > ul
{
	margin-top: -0.1%;
	list-style: none;
	transition: color 2s;
}

#text > #title
{
	/* text style */
	color: rgba(255,255,255,0.65);
	font-size: 2em;
	font-weight: 550;
	transition: color 2s;

	/* box style (setting it undo the #title setting) */
	margin-top: 0%;
	margin-bottom: 0%;
	padding-bottom: 2%;
}